* {
  margin: 0;
  padding: 0;
}

.gameboard-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.cell {
  width: 150px;
  height: 150px;
  font-size: 5rem;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
